body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

.header {
  background: #007bff;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

.header button {
  background: white;
  color: #007bff;
  border: none;
  border-radius: 8px;
  padding: 0.5em 0.7em;
  cursor: pointer;
}
.header-left{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.filter-bar {
  margin: 1.25em;
  display: flex;
  gap: 10px;
}

.task-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1.25em;
  background: #fff;
  padding: 0.65em;
  border-radius: 10px;
}

.task-form input,
.task-form select {
  padding: 0.55em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.task-form button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 0.55em;
  padding: 0.55em 0.7em;
  cursor: pointer;
}

.task-list {
  display: grid;
  gap: 15px;
  margin: 1.25em;
}

.task-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.65em;
  padding: 1em;
}
.task-buttons {
  display: flex;
  gap: 10px;
  margin-top: 0.6em;
}

.task-buttons button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4em 0.65em;
  cursor: pointer;
}

.task-buttons button:hover {
  background: #0056b3;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.55em 0.7em;
  cursor: pointer;
}

.cancel-btn:hover {
  background: #a71d2a;
}